<div class="container containercss">
    <div class="about-us">
    <h1 class="main-heading">OUR GUARANTEE</h1>

    <p class="description">
        Job conditions and methods of application, such as temperature, humidity and over thinning are beyond the control of Finish Line Products. Therefore, its warranties of fitness and merchantability as well as any other warranties express or implied shall not be effective unless this product is applied according to manufacture's directions and specifications. Maximum liability shall be limited to replacement of materials only.
    </p>
    
    <h1 class="main-heading">COMMITMENT</h1>
    <p class="description">
        Our commitment to our customers is to give them the peace of mind of knowing that if ever they have a problem with the quality of our products we will be on their job site within 24 hours of being notified of a problem and that we will 100% stand responsible for our products up to and including the replacement of the product to repair such problems.
    </p>
    </div>
</div>