<div class="container containercss">
    <main>
        <h1 class="main-heading">
            Finish Line Products, provider of quality drywall joint treatment
            <br/>
            products across the Southeast, is now part of the
            <br/>
            CertainTeed Gypsum family.
        </h1>
        <p class="description">
            Combining Finish Line's preferred contractor-focused formulations with CertainTeed's drywall finishing products, 
            <br/>
            the southeastern market is now served by a top quality, comprehensive finishing portfolio from a highly talented team
        </p>
        <div class="btn-container">
            <button (click)="goToNews()" class="learn-more" title="LEARN MORE">Learn More</button>
            <button routerLink="/going-green" class="going-green" title="GOING GREEN">Going Green</button>
        </div>
        <div class="hero-img">
            <img [src]="heroImagePath" alt="hero image">
        </div>
    </main>
</div>