<div class="container containercss">
    <div class="about-us">
    <h1 class="main-heading">GOING GREEN</h1>
    <p class="description">
        All Finish Line Products have been tested and found to be in compliant with the emission standards set by CDPH/CHPS and LEED for Schools for Low-Emitting coatings. Qualified project use of this product and all products bracketed under this test are eligible for credits in each of the CHPS and LEED for Schools sustainability programs. Please visit the links below to view our Green Certificate provided by MAS Certified Green.
    </p>
    <div class="image-container">
        <img src="assets/going-green-image-1.svg" alt="">
        <img src="assets/going-green-image-2.svg" alt="">
    </div>
    </div>
    <p class="main-heading">DOWNLOADABLE CONTENT</p>
    <ul class="pdf-container">
        <li>
            <img src="assets/pdf-icon.svg" alt="">
            <a (click)="openPDF('green')" title="VIEW PDF">GREEN CERTIFICATE</a>
        </li>
        <li>
            <img src="assets/pdf-icon.svg" alt="">
            <a (click)="openPDF('leed')" title="VIEW PDF">LEED LETTER</a>
        </li>
        <li>
            <img src="assets/pdf-icon.svg" alt="">
            <a (click)="openPDF('asbestos')" title="VIEW PDF">ASBESTOS LETTER</a>
        </li>
    </ul>
</div>