<div class="container containercss">
    <div class="about-us">
    <h1 class="main-heading">ABOUT US</h1>

    <p class="description">
        Finish Line Products was founded in 2005 with the intent to revolutionize the drywall finishing industry by manufacturing quality joint treatment products at competitive prices. The production plant, located in Winder, GA, services the entire Southeastern United States. With over 100 years of combined experience, Finish Line has quickly gained respect in the market place for ethical business practices and quality products. Finish Line has evolved into a company that resolves the jobsite problems that every day drywall contractors have, providing them with the products to eliminate or at least diminish these problems.
    </p>
    <p class="description">
        Before Finish Line, drywall contractors were told by BIG manufacturing companies, "You can't do this and you can't do that to the products". Finish Line started asking drywall contractors, "Why", so as to learn what they were trying to accomplish. Finish Line Products follows the philosophy of contractor based formulation; letting the end user formulate the working characteristics of the products. Finish Line Products strives to solve job site problems for clients and welcomes any suggestions for new product lines.
    </p>

    <h1 class="main-heading">MISSION STATEMENT</h1>
    <p class="description">
        To solve the everyday drywall problems that drywall contractors have by listening to their needs and providing them with the highest quality service and most consistent products in the industry.
    </p>

    <h1 class="main-heading">COMMITMENT</h1>
    <p class="description">
        Finish Line Products commits to its customer base to bring them peace of mind knowing if ever they have a problem with the quality of the products, representatives will be on the jobsite within 24 hours of being notified of that problem. Finish Line will 100% stand responsible for such setbacks, up to and including the replacement of the product to mend such problems.
    </p>
    </div>
</div>